@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.About {
    animation: fadeIn 0.5s ease-in;
}

.home-img h1 {
    font-size: 50px;
    margin: 20px;
}

span {
    color: #b74b4b;
}

.home-content h1 {
    color: #b74b4b;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
    color: aliceblue;
    text-align: justify;
}

.home-img {
    position: relative;
    left: 0;
}

.home-img img {
    margin-bottom: 10px;
    display: block;
    position: relative;
    width: 100%;
    left: 10px;
    border-radius: 5%;
    box-shadow: #000000 25px solid;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
    position: relative;
    z-index: 2;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: 0;
    animation: cursor 0.6s infinite;
    z-index: 1;
    border-bottom: #b74b4b 1px solid;
}

@keyframes words {
    0%,
    20% {
        content: "Way of Life";
    }

    21%,
    40% {
        content: "Thrill";
    }

    41%,
    60% {
        content: "Artistic display";
    }

    61%,
    80% {
        content: "Community";
    }

    81%,
    100% {
        content: "Car haven";
    }
}

.About {
    display: flex;
    align-items: flex-start;
    animation: fadeIn 0.5s ease-in;
}

.home-img {
    margin: 0;
    position: relative;
    width: 50%;
}

.home-content {
    margin-left: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
}

.typing-text,
.home-content h1 {
    margin-top: 0;
}

.home-content p {
    margin: 0;
    padding-top: 20px;
    color: #000000;
}

.scrolling-paragraph {
    height: 500px;
    overflow-y: scroll;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scrollbar-color: red;
}

.About strong {
    color: #2c3e50;
}

.About a {
    color: #3498db;
    text-decoration: none;
}

.About a:hover {
    text-decoration: underline;
}

.highlight1 {
    color: #e74c3c;
}

.highlight2 {
    color: #3498db;
}

.highlight3 {
    color: #f1c40f;
}

.highlight4 {
    color: #2ecc71;
}

.highlight5 {
    color: #9b59b6;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.prev-button, .next-button {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 2;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}
