.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.loginbox p {
    position: relative;
    top: 30px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="email"], input[type='text'], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 30px;
}

.loginbox label {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: 30px;
}

.loginbox .loginn {
    width: 250px;
    position: relative;
    top: 80px;
    border: none;
    outline: none;
    height: 40px;
    background: #009688;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    left: 5px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: #000;
}

.loginbox a {
    position: relative;
    top: 40px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: rgb(229, 255, 0);
    margin-bottom: 20px;
}

.loginbox a:hover {
    color: rgb(255, 0, 0);
}

.loginbox {
    width: 320px;
    min-height: 450px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 50px;
    overflow-wrap: break-word;
    animation: fadeIn 0.5s ease-in;
}

.loginbox textarea {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    resize: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    min-height: 40px;
    width: 100%;
    position: relative;
    top: 30px;
}
