.vehicle-form {
    margin: 0 auto;
    width: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    animation: fadeIn 0.5s ease-in;
}

.vehicle-form h2 {
    text-align: center;
}

.vehicle-form label {
    display: block;
    margin: 50px;
}

.vehicle-form input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    color: white;
    border-radius: 4px;
    background: none;
    appearance: textfield;
}

.vehicle-form button {
    position: relative;
    right: 10px;
    width: 100%;
    padding: 10px;
    background: #009688;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.vehicle-form button:hover {
    background: #00796b;
}
