.banner {
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(12, 3, 51, 0.1), rgba(12, 3, 51, 0.9));
    z-index: -1;
}


.back-video {
    position: fixed;
    left: 0%;
    bottom: 0;
    z-index: -2;  
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}
