.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 20px;
}

.logo {
    width: 300px;
    cursor: pointer;
    margin-right: 1000px;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #00fde4;
    position: absolute;
    left: 0;
    top: 30px;
    transition: width 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.home {
    opacity: 50%;
    max-width: 100px;
}
